<?xml version="1.0"?>
<robot name="robogambit">
	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.214 0.135 0.047"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.0 0.00 0.038"/>
			<material name="blue">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<link name="left_front_wheel">
		<visual>
			<origin rpy="1.57075 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.06" radius="0.065"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="left_front_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="left_front_wheel"/>
		<origin rpy="0 0 0" xyz="0.067 -0.0675 0"/>
	</joint>
	<link name="left_back_wheel">
		<visual>
			<origin rpy="1.57075 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.06" radius="0.065"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="left_back_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="left_back_wheel"/>
		<origin rpy="0 0 0" xyz="-0.067 -0.0675 0"/>
	</joint>
	<link name="right_front_wheel">
		<visual>
			<origin rpy="1.57075 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.06" radius="0.065"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="right_front_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="right_front_wheel"/>
		<origin rpy="0 0 0" xyz="0.067 0.0675 0"/>
	</joint>
	<link name="right_back_wheel">
		<visual>
			<origin rpy="1.57075 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.06" radius="0.065"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="right_back_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="right_back_wheel"/>
		<origin rpy="0 0 0" xyz="-0.067 0.0675 0"/>
	</joint>
</robot>
